@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
:root{
  --bg:#F6F5FA;
  --iconColor:#8675CB;
  --darkText:#808099;
  --bordercolor: #EEEBF8


}

body{
  overflow-y: hidden;
  
}

.rbc-time-content::-webkit-scrollbar{
  width: 0px;
}

.rbc-time-content{
  scrollbar-width: "none";
  -ms-overflow-style: "none";
}

.hidden {
    display: none;
}

.year {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .month {
    margin: 5px 5px 15px 5px;
  }
  
  .month-name {
    color: #ccbe88;
    font-weight: bold;
  }

  
  .day {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  .date {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50px;
    border: none;
    outline: none;
  }
  .rbc-time-header{
    display: none;
  }
  
  .date.in-month:hover {
    cursor: pointer;
    background: #4f4f4f;
  }
  
  .today {
    background: #ccbe88;
  }

  .event-date-low {
    background: #8acc88;
  }
  .event-date-medium {
    background: #88c3cc;
  }
  .event-date-high {
    background: #ff756e;
  }
  
  
  
  